
RudimentaryGameEngine/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/RudimentaryGameEngine/v15/.suo
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide-shm
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide-wal
RudimentaryGameEngine/bin/Debug/3DMathFramework.dll
RudimentaryGameEngine/bin/Debug/3DMathFramework.pdb
RudimentaryGameEngine/obj/Debug/RudimentaryGameEngine.csproj.CopyComplete
.vs/RudimentaryGameEngine/v15/.suo
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide-shm
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide-wal
.vs/RudimentaryGameEngine/v15/.suo
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide-shm
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide-wal
.vs/RudimentaryGameEngine/v15/Server/sqlite3/storage.ide
.vs/RudimentaryGameEngine/v15/.suo
